@model IEnumerable<WebApplication_Slicone_Supplier.Models.Iventory>

@{
    ViewData["Title"] = "Iventories";
}

<h1>Available Iventories</h1>

<p>
    <a class="btn btn-sm btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-hover ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IventoryAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IventoryAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IventoryID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IventoryID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IventoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
